apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: traefik
labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/part-of: traefik
helmCharts:
  - name: traefik-crds
    repo: https://traefik.github.io/charts
    releaseName: traefik-crds
    version:  1.13.1
    includeCRDs: true
    valuesInline:
      gatewayAPI: false
      hub: false
      traefik: true
  - name: traefik
    repo: https://traefik.github.io/charts
    releaseName: traefik
    version: 39.0.0
    includeCRDs: false
    namespace: traefik
    valuesFile: values.yaml
resources:
  - certificate.yaml
  - service.yaml
  - gateway.yaml
  - ingressroute.yaml
  - httproute.yaml
  - middleware.yaml
  - tlsoption.yaml
