logs:
  general:
    level: INFO
  access:
    enabled: false
    
ports:
  web:
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    http:
      http3:
        enabled: true
      tls:
        enabled: true
  ssh:
    port: 8022
    expose:
      default: true
    exposedPort: 8022
    protocol: TCP

gateway:
  # Deploy a default gateway
  enabled: false

service:
  loadBalancerClass: io.cilium/l2-announcer
#  annotations:
#    lbipam.cilium.io/ips: 10.1.1.48
#    lbipam.cilium.io/sharing-key: "traefik-lb"

ingressClass:
  name: traefik

providers:
  kubernetesIngress:
    enabled: true
  kubernetesCRD:
    enabled: true
  kubernetesGateway:
    enabled: true
    experimentalChannel: true

certificatesResolvers:
  tailscale-resolver:
    tailscale: {}

#tracing:
#  addInternals: true
#  otlp:
#    enabled: true
#    grpc:
#      enabled: true
#      endpoint: monitoring-alloy.monitoring.svc.cluster.local:4317
#      insecure: true
