apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tailscale
labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/instance: tailscale-operator
      app.kubernetes.io/part-of: tailscale-operator
helmCharts:
  - name: tailscale-operator
    version: 1.90.8
    releaseName: tailscale-operator
    repo: https://pkgs.tailscale.com/helmcharts
resources:
  - secret-store.yaml
  - external-secrets.yaml
  - proxyclass.yaml
