apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/part-of: cloudflare-tunnel
images:
  - name: docker.io/cloudflare/cloudflared
    newTag: 2026.1.2
resources:
  - secret-store.yaml
  - secrets.yaml
  - deployment.yaml
